@charset "UTF-8";
* {
  -webkit-font-smoothing: antialiased;
  font-family: "PingFang TC", "Microsoft JhengHei", sans-serif;
}

html, body {
  width: 100vw;
  overflow-x: hidden;
}

#main {
  width: 100%;
  height: 100vh;
  position: relative;
}
#main::before {
  content: "";
  width: 100%;
  height: 60%;
  display: block;
  background-color: #1E5A91;
}
#main::after {
  content: "";
  width: 100%;
  height: 40%;
  display: block;
  background-color: #23C8C8;
}
#main .scroll-down {
  bottom: -90px;
}
#main .flag-box {
  padding: 0 100px;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: -18px;
  left: 0;
}
#main .flag-box img {
  width: 100%;
}
#main .title-box {
  width: 30vw;
  position: absolute;
  z-index: 2;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  #main .title-box {
    width: 50vw;
  }
}
#main .title-box img {
  width: 100%;
}
#main .star-box {
  width: 30vw;
  position: absolute;
  z-index: 3;
  top: 30px;
  left: 50%;
  transform: translateX(-55%);
  animation-name: twinkling;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@media screen and (max-width: 768px) {
  #main .star-box {
    width: 50vw;
  }
}
#main .star-box img {
  width: 100%;
}
#main .special-effects-left {
  position: absolute;
  z-index: 3;
  top: 100px;
  left: 18%;
  width: 160px;
  height: 160px;
  animation-name: hanabi-up;
  animation-delay: 0.6s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}
#main .special-effects-left .hanabi-box {
  width: 100%;
  position: absolute;
  z-index: 3;
}
#main .special-effects-left .hanabi-box img {
  width: 100%;
}
#main .special-effects-left .coin-box {
  width: 100%;
  position: absolute;
  z-index: 4;
}
#main .special-effects-left .coin-box img {
  width: 100%;
}
#main .special-effects-right {
  position: absolute;
  z-index: 3;
  top: 170px;
  right: 14%;
  width: 160px;
  height: 160px;
  animation-name: hanabi-up;
  animation-delay: 0.9s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}
#main .special-effects-right .hanabi-box {
  width: 100%;
  position: absolute;
  z-index: 3;
}
#main .special-effects-right .hanabi-box img {
  width: 100%;
}
#main .special-effects-right .coin-box {
  width: 100%;
  position: absolute;
  z-index: 4;
}
#main .special-effects-right .coin-box img {
  width: 100%;
}
#main .special-effects-center-left {
  position: absolute;
  z-index: 3;
  top: 72px;
  left: 30%;
  width: 100px;
  height: 100px;
  animation-name: hanabi-toleft;
  animation-delay: 0.3s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}
#main .special-effects-center-left .hanabi-box {
  width: 100%;
  position: absolute;
  z-index: 3;
}
#main .special-effects-center-left .hanabi-box img {
  width: 100%;
}
#main .special-effects-center-left .coin-box {
  width: 100%;
  position: absolute;
  z-index: 4;
  top: 10%;
  left: 12%;
}
#main .special-effects-center-left .coin-box img {
  width: 100%;
}
#main .special-effects-center-right {
  position: absolute;
  z-index: 3;
  top: 72px;
  right: 26%;
  width: 180px;
  height: 180px;
  animation-name: hanabi-toright;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}
#main .special-effects-center-right .hanabi-box {
  width: 100%;
  position: absolute;
  z-index: 3;
}
#main .special-effects-center-right .hanabi-box img {
  width: 100%;
}
#main .special-effects-center-right .coin-box {
  width: 100%;
  position: absolute;
  z-index: 4;
  top: 6%;
  left: -4%;
}
#main .special-effects-center-right .coin-box img {
  width: 100%;
}
#main .bg-box {
  height: 530px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  #main .bg-box {
    top: 35vw;
  }
}
@media screen and (max-width: 768px) {
  #main .bg-box {
    top: 20vw;
  }
}
@media screen and (max-width: 480px) {
  #main .bg-box {
    top: 50px;
  }
}
@media screen and (max-width: 360px) {
  #main .bg-box {
    top: -90px;
  }
}
#main .bg-box img {
  height: 100%;
}
#main .dog-box {
  width: 350px;
  position: absolute;
  z-index: 2;
  top: 37vh;
  left: 50%;
  transform: translateX(-63%);
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  #main .dog-box {
    top: 64vw;
  }
}
@media screen and (max-width: 768px) {
  #main .dog-box {
    top: 59vw;
  }
}
@media screen and (max-width: 480px) {
  #main .dog-box {
    top: 340px;
  }
}
@media screen and (max-width: 360px) {
  #main .dog-box {
    top: 210px;
  }
}
#main .dog-box img {
  width: 100%;
}

#offer {
  position: relative;
}
#offer .top-mask {
  width: 100%;
  height: 47px;
  display: flex;
  overflow: hidden;
}
#offer .top-mask .img-box {
  width: 1200px;
  height: 100%;
  display: inline-block;
}
#offer .top-mask .img-box img {
  width: 100%;
  height: 100%;
}
#offer .top-mask::before, #offer .top-mask::after {
  content: "";
  background-color: #23C8C8;
  border-bottom: 2.5px solid #3E454F;
  box-sizing: border-box;
  width: calc((100% - 1200px)/2);
  height: 100%;
  display: inline-block;
}
#offer .offer-wrapper {
  width: 100%;
  height: calc(100% - 47px);
  position: relative;
}
#offer .offer-wrapper .offer-content {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  top: 320px;
  left: 50%;
  transform: translateX(-90%);
}
#offer .offer-wrapper .sub-wrapper + .sub-wrapper {
  margin-top: 5px;
}
#offer .offer-wrapper .sub-wrapper {
  display: inline-flex;
  align-items: center;
}
#offer .offer-wrapper .mask {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0;
  animation-name: twinkling;
  animation-duration: 3s;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
#offer .offer-wrapper .light {
  width: 85px;
  position: absolute;
  z-index: 3;
  top: 37px;
  right: 0;
  opacity: 0;
  animation-name: twinkling;
  animation-duration: 3s;
  animation-delay: 1.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
#offer .offer-wrapper .offer-detail {
  display: inline-block;
  position: relative;
  top: 470px;
  left: 50%;
  transform: translateX(-90%);
}
@media screen and (max-width: 768px) {
  #offer .offer-wrapper .offer-detail {
    transform: translateX(-80%);
  }
}
#offer .offer-wrapper .offer-detail ul {
  margin: 0;
  padding: 15px 20px;
}
#offer .offer-wrapper .offer-detail ul li {
  font-size: 12px;
}

/* 手機框 */
.phone-wrapper {
  display: inline-block;
  width: 200px;
  position: absolute;
  top: 255px;
  left: 50%;
  transform: translateX(100%);
}
@media screen and (max-width: 768px) {
  .phone-wrapper {
    transform: translateX(80%);
  }
}
.phone-wrapper .phone-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.phone-wrapper .phone-img img {
  width: 100%;
}
.phone-wrapper .phone-page {
  width: 100%;
  padding: 0 4px;
  position: relative;
  top: 38px;
  left: 0;
  z-index: 1;
}
.phone-wrapper .phone-page .img-box {
  position: relative;
  width: 100%;
}
.phone-wrapper .phone-page .img-box img {
  width: 100%;
}

/* 覆蓋輪播圖外掛的樣式 */
.owl-theme .owl-dots .owl-dot span {
  width: 14px;
  height: 14px;
  background-color: #FFF;
  border-radius: 6px;
  border: 2px solid #E1AE46;
  margin: 5px;
}
.owl-theme .owl-dots .owl-dot:focus {
  outline: none;
}
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #FFF;
}
.owl-theme .owl-dots .owl-dot.active span {
  background-color: #E1AE46;
}

/* 上邊框粗線 */
.top-bold-border {
  border-top: 3px solid #3E454F;
}

/* 整頁樣式 */
.fullpage {
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
}

/* 點點背景 */
.dot-bg {
  background-image: url("../images/offer_bg.png");
}

/* 藍天雲背景 */
.blue-clound-bg {
  background-color: #23C8C8;
}

/* 旗子 */
.page-flag {
  width: 170px;
  display: inline-block;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-210%);
}
.page-flag img {
  width: 100%;
}

/* 標題 */
.page-title {
  height: 150px;
  display: inline-block;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.page-title img {
  height: 100%;
}

/* 子標題: 版本一 */
.sub-title-first {
  font-size: 30px;
  font-weight: bold;
  color: #23C8C8;
  margin-right: 10px;
}
.sub-title-first::before {
  content: url("../images/bell.svg");
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 5px;
}

.sub-content {
  color: #3E454F;
  font-weight: bold;
}

/* 下滑動按鈕 */
.scroll-down {
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.scroll-down span {
  font-size: 12px;
  animation-name: twinkling;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.scroll-down .img-box {
  width: 40px;
  height: 40px;
  background-color: #FFDB60;
  border: 2px solid #3E454F;
  border-radius: 100px;
  margin-top: 10px;
  animation-name: float;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.scroll-down .img-box img {
  width: 100%;
}

/* 全站 GO 按鈕 */
.detail-btn {
  background-color: #A0B4F5;
  border: 3px solid #3E454F;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  padding: 10px 30px;
  cursor: pointer;
}
.detail-btn:hover {
  background-color: #E1AE46;
}
.detail-btn span {
  font-weight: bold;
}
.detail-btn::after {
  content: url("../images/btn_arrow.png");
  width: 10px;
  margin-left: 15px;
}

/* 閃爍, 淡出入 */
@keyframes twinkling {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}
/* 漂浮 */
@keyframes float {
  to {
    transform: translateY(0);
  }
  from {
    transform: translateY(5px);
  }
}
/* 往上放煙火 */
@keyframes hanabi-up {
  0% {
    opacity: 0.5;
    transform: scale(0.2) translateY(0);
  }
  30% {
    opacity: 1;
    transform: scale(0.2) translateY(-60px);
  }
  50% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  100% {
    opacity: 0;
    transform: scale(1) translateY(30px);
  }
}
/* 往左上放煙火 */
@keyframes hanabi-toleft {
  0% {
    opacity: 0.5;
    transform: scale(0.2) translate(500px, 200px);
  }
  30% {
    opacity: 1;
    transform: scale(0.2) translate(0);
  }
  50% {
    opacity: 1;
    transform: scale(1) translate(0, -10px);
  }
  100% {
    opacity: 0;
    transform: scale(1) translate(0, 60px);
  }
}
/* 往右上放煙火 */
@keyframes hanabi-toright {
  0% {
    opacity: 0.5;
    transform: scale(0.2) translate(-500px, 500px);
  }
  30% {
    opacity: 1;
    transform: scale(0.2) translate(0);
  }
  50% {
    opacity: 1;
    transform: scale(1) translate(0, 10px);
  }
  100% {
    opacity: 0;
    transform: scale(1) translate(0, 60px);
  }
}

/*# sourceMappingURL=main.css.map */
